<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="label">Ingresa tu No. de Control</span>
    </div>
    <input (keydown)="onKeydown($event)" type="text" class="form-control" placeholder="Numero de control" aria-label="Username" aria-describedby="basic-addon1">
  </div>

<table class="table">
    <thead class="thead-dark">
    <tr>
      <th>Nombre</th>
      <th>Carrera</th>
      <th>No. Control</th>
    </tr>
    </thead>
  
    <tr *ngFor="let s of listStudents">
      <td>{{ s.name }}</td>
      <td>{{ s.career }}</td>
      <td>{{ s.controlNumber }}</td>
    </tr>
  </table>


<table class="table" id="table">
  <th class="thead-dark"></th>
  <tr> <img src="../assets/academiaJournals.png" height="350" width="350"></tr>
  <tr><img src="../assets/logotec.png" height="350" width="350"></tr>
  <tr>     
     <qrcode [qrdata]="144" [size]="256" [level]="'M'" height="350" width="350"></qrcode>
  </tr>
</table>
